{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div id="single-wrapper">
	<form method="post" class="frm-single" novalidate>
        {% csrf_token %}
		<div class="inside">
			<div class="title"><strong>Django 3</strong> мультиссылки</div>
			<!-- /.title -->
			<div class="frm-title">Сброс пароля</div>
			{{ form|crispy }}
			<button type="submit" class="frm-submit">Отправить<i class="fa fa-arrow-circle-right"></i></button>
			<a href="{% url 'login' %}" class="a-link"><i class="fa fa-sign-in"></i>Вспомнили пароль? Войти.</a>
			<!--<div class="frm-footer">taptap © 2020.</div>-->
			<!-- /.footer -->
		</div>
		<!-- .inside -->
	</form>
	<!-- /.frm-single -->
</div><!--/#single-wrapper -->
{% endblock %}