{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="main-menu">
	{% include 'partials/_dashboard-header.html' %}
    {% include 'partials/_dashboard-navigation.html' %}
</div>
{% include 'partials/_dashboard-fixed-navbar.html' %}
<div id="wrapper">
 <div class="main-content">
  <div class="row small-spacing">
   <div class="col-12">

    <div class="box-content">
<form method="post" enctype="multipart/form-data">
{% csrf_token %}
{{ form|crispy }}
<button type="submit" class="btn btn-primary btn-sm waves-effect waves-light">
    {% if image %}
    Добавить еще
    {% else %}
    Добавить
    {% endif %}
</button>
</form>
    </div>

<div class="box-content">
    {% if image %}
    {% for img in image %}
				<div class="col-md-4 col-sm-6 col-tb-6 col-xs-12">
					<a href="{{ img.img.url }}" class="item-gallery lightview">
						<img src="{{ img.img.url }}" alt="">
					</a>
                    <a href="{% url 'del_image' pk=img.id %}?next={{ request.get_full_path|urlencode }}">
                        <p>Удалить</p>
                        </a>
				</div>
    {% endfor %}
    {% else %}
   <p>Добавьте изображения</p>
    {% endif %}
</div>

   </div>
  </div>
 </div>
</div>

{% endblock %}